doctype html
html
    head
        title 마한끄투 관리 페이지
    body
        .flex.min-h-screen.flex-col.justify-center.px-6.py-12(class='dark:bg-gray-900 lg:px-8')
            .sm-mx-auto.sm-w-full
                h2.mt-10.text-center.text-5xl.font-bold.leading-9.tracking-tight.text-gray-900(class='dark:text-gray-100')
                    | ERROR 400 - 접근불가
                    br
                    | 사유 : 창설자의 권한이 없음
        p.mt-10.text-center.text-sm.text-gray-500(class='dark:text-gray-300')
            a.font-semibold.leading-6.text-purple-600(href='/login', class='hover:text-purple-500 dark:text-purple-300 dark:hover:text-purple-500')
                | 창설자시라구요? 로그인하기
            br
            a.font-semibold.leading-6.text-purple-600(href='/', class='hover:text-purple-500 dark:text-purple-300 dark:hover:text-purple-500')
                | 메인으로 돌아가기