doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title &#xB9C8;&#xD55C;&#xB044;&#xD22C; &#xC11C;&#xBE44;&#xC2A4; &#xC548;&#xB0B4;
  style.
    html,body{margin:0;padding:0;background-color:#fff;color:#333;font-family:Noto Sans KR,sans-serif;height:100vh;display:flex;align-items:center;justify-content:center}.notice-box[data-astro-cid-j7pv25f6]{max-width:500px;text-align:center;border:1px solid #dddddd;border-radius:12px;padding:40px 30px;box-shadow:0 0 20px #0000000d}.notice-box[data-astro-cid-j7pv25f6] h1[data-astro-cid-j7pv25f6]{font-size:24px;margin-bottom:20px}.notice-box[data-astro-cid-j7pv25f6] p[data-astro-cid-j7pv25f6]{font-size:16px;line-height:1.6}.notice-box[data-astro-cid-j7pv25f6] .icon[data-astro-cid-j7pv25f6]{font-size:40px;color:#ff6b6b;margin-bottom:20px}.feather[data-astro-cid-j7pv25f6]{width:48px;height:48px;stroke:#ff6b6b;stroke-width:2px;stroke-linecap:round;stroke-linejoin:round;fill:none;margin-bottom:20px}
.notice-box(data-astro-cid-j7pv25f6='')
  svg.feather.feather-alert-circle(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' data-astro-cid-j7pv25f6='')
    circle(cx='12' cy='12' r='10')
    line(x1='12' y1='8' x2='12' y2='12')
    line(x1='12' y1='16' x2='12.01' y2='16')
  h1(data-astro-cid-j7pv25f6='') &#xC11C;&#xBE44;&#xC2A4; &#xC77C;&#xC2DC; &#xC911;&#xB2E8; &#xC548;&#xB0B4;
  p(data-astro-cid-j7pv25f6='')
    | &#xAC8C;&#xC784;&#xBB3C;&#xAD00;&#xB9AC;&#xC704;&#xC6D0;&#xD68C;&#xC758; &#xC694;&#xCCAD;&#xC73C;&#xB85C;
    br(data-astro-cid-j7pv25f6='')
    |         &#xD604;&#xC7AC; 
    strong(data-astro-cid-j7pv25f6='') &#xB9C8;&#xD55C;&#xB044;&#xD22C; &#xC11C;&#xBE44;&#xC2A4; &#xC774;&#xC6A9;&#xC774; &#xC77C;&#xC2DC; &#xC911;&#xB2E8;
    | &#xB418;&#xC5C8;&#xC2B5;&#xB2C8;&#xB2E4;.
    br(data-astro-cid-j7pv25f6='')
    br(data-astro-cid-j7pv25f6='')
    |         &#xB4F1;&#xAE09; &#xC2EC;&#xC0AC; &#xD6C4; &#xB4F1;&#xAE09;&#xC744; &#xBD80;&#xC5EC;&#xBC1B;&#xC744; &#xACBD;&#xC6B0;
    br(data-astro-cid-j7pv25f6='')
    |         &#xC11C;&#xBE44;&#xC2A4;&#xAC00; &#xB2E4;&#xC2DC; &#xC5F4;&#xB9B4; &#xC608;&#xC815;&#xC785;&#xB2C8;&#xB2E4;.
    br(data-astro-cid-j7pv25f6='')
    br(data-astro-cid-j7pv25f6='')
    |         &#xC774;&#xC6A9;&#xC5D0; &#xBD88;&#xD3B8;&#xC744; &#xB4DC;&#xB824; &#xC8C4;&#xC1A1;&#xD569;&#xB2C8;&#xB2E4;.
script(type='module').
  document.addEventListener("DOMContentLoaded",function(){window.feather&&feather.replace()});
script(type='module' src='./마한끄투 서비스 안내_files/index.astro_astro_type_script_index_1_lang.ErkTv1Ox.js.다운로드')
script(defer='' src='./마한끄투 서비스 안내_files/vcd15cbe7772f49c399c6a5babf22c1241717689176015' integrity='sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==' data-cf-beacon='{"rayId":"967b66a2bc52d000","version":"2025.7.0","r":1,"token":"0e566964b4d04cb5b2c80de53dde5785","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}}}' crossorigin='anonymous')